* {
    font-family: Inter;
}

header {
    background-color: var(--gray1);
    padding: 20px 236px 20px 236px;
    border-bottom: 2px solid var(--brand-1);
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: clamp(9rem, -4.196rem + 26.087vw, 12.5rem);
    height: clamp(2rem, 2.413rem + -1.739vw, 1.3rem);
    color: var(--gray7);
}

header button {
    width: Hug clamp(1rem, -8.22rem + 38.82vw, 16.625rem);
    height: Fixed clamp(9rem, 12.098rem + -13.043vw, 3.75rem);
    gap: clamp(0.2rem, -0.051rem + 1.056vw, 0.625rem);
    border: 1px solid var(--gray7);
    padding: 20px 32px 20px 32px;
    background-color: var(--gray1);
    color: var(--gray7);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

.main-content {
    width: Fixed (1, 728px)px;
    height: Hug (781px)px;
    top: 100px;
    padding: 250px 236px 250px 236px;
    gap: 44px;
    opacity: 0px;
    background-color: var(--gray2);
}

.main-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.main-content h1 {
    width: 1085px;
    height: 73px;
    color: var(--gray6);
    text-align: center;
}

.main-content span {
    color: var(--brand-1);
}

.main-content p {
    width: 770px;
    height: 60px;
    color: var(--gray4);
    text-align: center;
}

.main-content button {
    width: Hug (142px)px;
    height: Fixed (60px)px;
    padding: 20px 32px 20px 32px;
    border: 1px solid var(--brand-1);
    background-color: var(--brand-1);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--gray7);
    cursor: pointer;
}

.main-content button:hover{
    background-color: var(--brand-2);
    border-color: var(--brand-2);
}

.about-content {
    width: Hug (1, 728px)px;
    height: Hug (284px)px;
    top: 881px;
    padding: 82px 236px 82px 236px;
    gap: 56px;
    background-color: var(--gray1);
}

.about-content div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-content h2 {
    color: var(--gray6);
    text-align: left;
}

.about-content p {
    width: 580px;
    height: 120px;
    text-align: justify;
    color: var(--gray5);
}

.faq-content-container {
    display: flex;
    justify-content: space-around;
    width: Fixed (1, 728px)px;
    height: Hug (1, 132px)px;
    top: 1165px;
    padding: 82px 150px 82px 150px;
    gap: 56px;
    background-color: var(--gray2);
}

.faq-content-left {
    display: flex;
    width: 620px;
    height: 280px;
    gap: 10px;
    flex-direction: column;
    justify-content: space-evenly
}

.faq-content-left h2 {
    color: var(--gray6);
}

.faq-content-left p {
    color: var(--gray4);
}

.faq-content-left button {
    width: 50%;
    height: Fixed (60px)px;
    padding: 20px 32px 20px 32px;
    gap: 10px;
    border: 1px 0px 0px 0px;
    background-color: var(--brand-1);
    border: 2px solid var(--brand-1);
    color: var(--gray7);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
}

.faq-content-left button:hover {
    background-color: var(--brand-2);
    border-color: var(--brand-2);
}

.faq-content ul {
    display: flex;
    flex-direction: column;
    width: Fixed (583px)px;
    height: Hug (968px)px;
    gap: 60px;

}

.faq-content li {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 583px;
    height: 197px;
    justify-content: space-between;

}

.faq-content h3 {
    color: var(--gray6);
    width: Fixed (583px)px;
    height: Hug (51px)px;
    text-align: center;
}

.faq-content p {
    text-align: justify;
    color: var(--gray4);
}

.comments-content {
    background-color: var(--gray2);
}